* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}
header {
	background-color: lightskyblue;
	padding: 20px 0;
}
section {
	margin: 20px 0;
}
.container {
	max-width: 1640px;
	width: 100%;
	padding: 0 16px;
	margin: 0 auto;
}
nav,
.logo,
nav li {
	display: inline-block;
	vertical-align: middle;
}
nav li {
	margin-left: 20px;
}
nav a {
	color: #000;
	font-size: 18px;
	text-transform: capitalize;
}
.contact button {
	background-color: transparent;
	border: none;
	color: #000;
	font-size: 18px;
	text-transform: capitalize;
	background-color: #fff;
	padding: 20px;
	border-radius: 20px;
	border: 5px solid transparent;
	/* transition-property: all;
	transition-duration: 4s;
	transition-delay: 2s;
	transition-timing-function: ease-out; */

	transition: all 2s 0.5s ease;
}

.contact button:hover {
	background-color: brown;
	color: #fff;
	border: 5px solid black;
}

.items-wrapper {
	margin-top: -150px;
}
.item {
	display: inline-block;
	max-width: 400px;
	vertical-align: middle;
	margin: 0 20px;
	position: relative;
}
.item p {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 20px;
	bottom: 20px;
	width: 90%;
	/* left: 5%; */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.item:nth-child(2) {
	margin-top: -100px;
}
div:empty {
	background-color: red;
}
.item img {
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.slider img {
	width: 100%;
	height: 600px;
	object-fit: cover;
}
.section-title,
.dots,
.dot {
	display: inline-block;
	vertical-align: middle;
}

.section-top {
	background-color: blue;
	padding: 30px 0;
	padding-bottom: 250px;
	animation-name: bg-change;
	animation-duration: 5s;
	/* animation-delay: 5s; */
	animation-iteration-count: infinite;

	animation-fill-mode: forwards;
	animation-direction: alternate;

	/* animation: name duration timing-function delay iteration-count direction
		fill-mode; */
}
.section-title {
	color: #fff;
}
.dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fff;
	margin: 0 10px;
}

/* .slider p:nth-child(n + 5) {
	background-color: salmon;
}

.slider p:nth-child(2n) {
	background-color: red;
} */

/* .item:hover {
	width: 50%;
	max-width: unset;
} */

.item p {
	opacity: 0;
	background-color: rgba(0, 0, 0, 1);
	color: #fff;
}
.item:hover p {
	opacity: 1;
}

.item:first-child:hover p {
	background-color: red;
}
.item p {
	transition: all 0.3s;
}

.logo {
	animation: colorChnage 4s infinite alternate;
	font-weight: 400;
	font-style: normal;
	font-size: 60px;
}

.bg-img {
	background-image: url("../img/img1.jpg");
	width: 100%;
	height: 600px;
	background-size: cover;
	/* background-size: contain;
  background-repeat: no-repeat; */
	background-position: center;

	animation: bgImageChange 10s infinite alternate;
	position: relative;
	background-attachment: fixed;
	/* background-color: red;
	background-blend-mode: multiply; */
}

.bg-img a {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background-color: #fff;
}
.bg-img:hover a {
	/* opacity: 1; */
}
@keyframes bg-change {
	0% {
		background-color: red;
	}
	/* 25% {
		background-color: blue;
	}
	50% {
		background-color: green;
	}
	75% {
		background-color: yellow;
	} */
	100% {
		background-color: purple;
	}
}

@keyframes colorChnage {
	from {
		color: red;
		font-family: "Protest Riot", sans-serif;
	}
	to {
		color: green;
		font-family: "Protest Revolution", sans-serif;
	}
}

@keyframes bgImageChange {
	0% {
		background-image: url("../img/img2.jpg");
		/* transform: scale(0.8) rotate(90deg); */
	}
	50% {
		background-image: url("../img/img3.jpg");
		/* transform: scale(1) rotate(180deg); */
	}
	100% {
		background-image: url("../img/img4.jpg");
		/* transform: scale(1.2) rotate(45deg); */
	}
}
